{% extends "layout.html" %}
{% block head_extra %}
<link href="/static/css/lightbox.css" rel="stylesheet" />
<script src="/static/js/lightbox.min.js"></script>
{% endblock %}
{% block title %}Cluster{%endblock%}
{% block body %}
<h2><a href="/box/">Server BOX</a> (Beta 1.0)</h2>
<p>
创建与删除之间需要有5s的间隔
</p>
<form role="form-horizontal" action="/box/create" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label>组名</label>
		<label class="radio-inline">
		    <input type="radio" name="team" id="inlineRadio1" value="h15" checked> h15
		</label>
		<label class="radio-inline">
		    <input type="radio" name="team" id="inlineRadio2" value="h30"> h30
		</label>
	</div>
	<div class="form-group">
		<label>创建人</label>
		<!--<input type="hidden" name="team" value="h15"/>-->
		<input placeholder="不能为空, 填写公司邮箱前缀" required type="text" name="name" class="form-control">
	</div>
	<input class="btn btn-default" type="submit" value="创建">
</form>
<hr/>

<h4>BOXES</h4>
<table class="table">
	<tr>
		<th>docker-id</th><th>Host</th><th>Port</th><th>日志代码地址</th><th>控制命令</th><th>常规操作</th><th>创建人</th>
	</tr>
	{% for b in boxes %}
	<tr>
		<td>{{b.docker_id[:3]}}</td>
		<td>{{b.host}}</td>
		<td>{{b.port}}
			<button class="btn btn-link ajax-json-model" data-source="/box/api/port/{{b.docker_id}}">其他</button>
		</td>
		<td>
			<a target='_blank' href="ftp://mt.nie.netease.com:15021/{{b.author}}">FTP</a> 
			<button class="btn btn-sm copy-button" data-clipboard-text="ftp://mt.nie.netease.com:15021/{{b.author}}">Copy</button>
			<!--<input type="text" class="click-select" value="ftp://mt.nie.netease.com:15021/{{b.author}}"/>-->
		</td>
		<td>
			<!--<a class="ajax-json" href="/box/api/start/{{b.docker_id}}">Start</a>
			<a class="ajax-json" href="/box/api/stop/{{b.docker_id}}">Stop</a>-->
			<a class="ajax-json" href="/box/api/restart/{{b.docker_id}}">restart</a>
			<a class="ajax-json" href="/box/api/reload/{{b.docker_id}}">refresh</a>
			<!--<a class="ajax-json" prompt="Comunicating..." href="/box/api/svnup/{{b.docker_id}}">SvnUp</a>-->
			<button class="ajax-json-model btn btn-link" prompt="Updating..." data-source="/box/api/svnup/{{b.docker_id}}">代码更新</button>
			<button class="ajax btn btn-link" data-source="/box/logs/{{b.docker_id}}" data-toggle="modal" data-target=".bs-logs-modal-lg">日志</button>
		</td>
		<td>
			<button class="ajax-json-model btn btn-link delete-confirm" prompt="Deleting..." data-source="/box/delete/{{b.docker_id}}" style="color:red"><b>删除</b></button>
		</td>
		<td><label>{{b.author}}</label></td>
	</tr>
	{% endfor %}
</table>

<!-- Logs modal -->
<div class="modal fade bs-logs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Logs</h4>
			</div>
			<div class="modal-body">
				<pre id="console">Loading...</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a class="btn btn-default" id="model-anchor" href="#">View Raw</a>
			</div>
	  </div>
	</div>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
<script>
$(function(){
		ZeroClipboard.config( { swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.swf" } );
		var client = new ZeroClipboard($(".copy-button"));
		client.on( "ready", function( readyEvent ) {
			client.on( "aftercopy", function( event ) {
				//event.target.style.display = "none";
				alert("Copied text to clipboard! ");// + event.data["text/plain"] );
			});
		});


		var $console = $("#console");
		$(".ajax-json-model").
			attr("data-target", ".bs-logs-modal-lg").
			attr("data-toggle", "modal")
		$("a.ajax-json-model").each(function(e){
					$(this).attr("href", $(this).attr("data-source"));
				});

		$(".ajax-json-model").click(function(e){
			var prompt = $(this).attr("prompt") || "wait...";
			var href=$(this).attr("href") || $(this).attr("data-source");
			$("#model-anchor").attr("href", href);
			$console.text(prompt);
			$.get(href, function(d){
				$console.text(d.message);
			}, 'json');
		});

		$("a.ajax-json").click(function(e){
			e.preventDefault();
			var href=$(this).attr("href");
			var prompt = $(this).attr("prompt") || "wait...";
			$.getJSON(href, function(d){
				alert(d.message);
			});
		});
		$("button.ajax").click(function(e){
			$console.text("Loading ...");
			var href=$(this).attr("data-source");
			$("#model-anchor").attr("href", href);
			$.get(href, function(d){
				$console.text(d);
			}, 'text');
		});
		$(".click-select").click(function(e){
			$(e.target).select();
		});
		$(".delete-confirm").click(function(e){
			return confirm('确实要删除吗?');
		});
});
</script>

{% endblock %}
