{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<h3>Cross compile with <span style="color: blue">Windows, Linux and Mac, Arm</span></h3>
<form method="get" role="form">
	<div class="form-group">
		<input name="address" type="text" class="click-select form-control" placeholder="github address, eg: github.com/codeskyblue/fswatch"/>
	</div>
	<button class="btn btn-success">Compile</button>
</form>

<hr/>

<table class="table table-striped">
	<tr>
		<th>Name</th>
	</tr>
	<tr>
		<td>Mark</td>
	</tr>
</table>
<h2>去其他页面看看吧</h2>
{% endblock %}
