{% extends "layout.html" %}
{% block title %}Link{%endblock%}
{% block body %}
<!--
<ul class="list-group">
	{% for link in links %}
	<li class="list-group-item">
		<span class="badge">{{link.visit_count}}</span>
		<a href="{{ url_for('link.redirect') }}?uri={{link.uri|urlencode}}">
			{{link.name}} <span class="badge">{{link.visit_count}}</span>
		</a>
	</li>
	{% endfor %}
</ul>
-->
<div class="list-group">
	{% for link in links %}
	<a class="list-group-item" target="_blank" href="{{ url_for('link.redirect') }}?uri={{link.uri|urlencode}}">
		<img src="{{link.favicon}}" style="width:20px" alt="icon"/>
		<span class="badge">{{link.visit_count}}</span>
		{{link.name}} <span style="color:gray" class="pull-right">{{link.uri}} ..</span>
	</a>
	{% endfor %}
</div>

<hr/>
<form role="form" action="/link/add" method="post">
	<div class="form-group">
		<input placeholder="链接地址 http://xx" type="text" name="uri" value="{{uri}}" class="form-control">
	</div>
	<div class="form-group" style="width:400px">
		<input placeholder="标题 为空，将自动从title字段中获取" type="text" name="title" value="" class="form-control">
	</div>
	<input class="btn btn-default" type="submit" value="添加网址">
</form>
{% endblock %}
