{% extends "layout.html" %}
{% block title %}{{reponame|basename}}{%endblock%}

{% block body %}
<div class="row">
	<p class="pull-right">Updated {{naturaltime}}</p>
	<a href="https://{{reponame}}"><strong>{{reponame}}</strong></a>
	<!--<span class="glyphicon glyphicon-star"></span> 2800-->
	<span class="glyphicon glyphicon-cloud-download"></span> {{repo.down_count}}
	<br>
	<p>{{repo.description}}</p>
	<div class="pull-left">
		<a href="https://godoc.org/{{reponame}}"><img src="https://godoc.org/{{reponame}}?status.svg" alt="GoDoc"></a>
		<a href="https://gowalker.org/{{reponame}}"><img src="http://gowalker.org/api/v1/badge" alt="GoDoc"></a>
	</div>
	<div class="pull-right" style="margin-bottom: 10px">
		<form class="form-inline" role="form" action='/repo/build'>
			<div class="form-group">
				<input type="text" class="form-control" name="tag" value="branch:master">
				<input type="hidden" name="reponame" value="{{reponame}}">
				<button class="btn btn-info">Build Now</button>
			</div>
		</form>
	</div>
	<br>

	<div>
	</div>
</div>

<div class="row" style="border: 1px solid gray">
	<div class="col-md-4" style="padding: 10px 10px">
		<h4>Tags</h4>
		<div class="list-group">
			{% for build in builds %}
			<a href="/repo/{{reponame}}?tag={{build.tag}}" 
				class="list-group-item 
				{%if not build.downloadable%}
					disabled
				{%else%}
					{%if build.tag==active_tag%}active{%endif%}
				{%endif%}
				">
				{%if not build.downloadable%}<del>{%endif%}
				{{build.tag}}
				{%if not build.downloadable%}
					</del>
				{%else%}
				<span class="badge">
					<span class="glyphicon glyphicon-cloud-download"></span> {{build.down_count}}
				</span>
				{%endif%}
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-8" style="padding: 10px 50px; border-left: 1px solid gray">
		<div class="row">
			<h4>Properies</h4>
			<p><span class="glyphicon glyphicon-time"></span> {{ active_build.updated|strftime }} - [used: {{20|human_duration}}]</p>
			<p>
				{{active_build.version|str2html}}
			</p>
			{% if active_build.downloadable %}
			<h5>Download</h5>
			<div>
				<table class="table">
					{% for goos in ('windows', 'linux', 'darwin', 'arm') %}
					<tr>
						<td>
							<button platform="{{goos}}" class="download btn btn-success btn-sm">
								<span class="glyphicon glyphicon-save"></span> {{goos}}
							</button>
						</td>
						<td>
							<label class="radio-inline">
								<input type="radio" name="{{goos}}-arch" value="amd64" checked> amd64
							</label>
							<label class="radio-inline">
								<input type="radio" name="{{goos}}-arch" value="386"> 386
							</label>
						</td>
						<td style="width: 40%">
							<div class="input-group">
								<input type="text" class="form-control" value="curl xxx">
							      <span class="input-group-btn">
								      <button class="btn btn-default" type="button">copy</button>
							    </span>
						      </div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>

			<div class="well" id="well">
				<u>windows amd64</u><br>
				size: {{prop.files.linux_386.zip.size}}<br>
				sha: {{prop.files.linux_386.zip.sha}}<br>
				md5: {{prop.files.linux_386.zip.md5}}<br>
			</div>
			{% else %}
			{{active_build.status}}
			<pre>{{active_build.details}}</pre>
			{% endif %}

		</div>
	</div>
</div>

<!--
<div>
	<table class="table">
		<tr>
			<td>windows</td>
			<td>amd64</td>
			<td>5M</td>
			<td><a href="#">Download<b>[42]</b></a></td>
			<td><a href="#">sha</a> | <a href="#">md5</a></td>
			<td><a href="#">Details</a></td>
		</tr>
		<tr>
			<td>linux</td>
			<td>amd64</td>
			<td>5M</td>
			<td><a href="#">Download</a></td>
			<td><a href="#">sha</a> | <a href="#">md5</a></td>
		</tr>
	</table>
</div>
-->

<div class="panel panel-default">
  <div class="panel-heading">README.md</div>
  <div class="panel-body">
    Panel content
	hello world
  </div>
</div>
<!--
<div class="container">
	<div class="col-md-6">
		<table class="table">
			<tr>
				<th>Update Time:</th>
				<td>2014/09/20</td>
			</tr>
			<tr>
				<th>Time Used:</th>
				<td>20s</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table">
			<tr>
				<th>Download Count:</th>
				<td>30</td>
			</tr>
			<tr>
				<th></th>
				<td></td>
			</tr>
		</table>
	</div>
</div>
-->
<script type="text/javascript">
function saveas(url){
		var a = window.open(url, '_blank', 'width=0,height=0,status=0');
		a.document.execCommand('SaveAs');
}

$(".download").click(function(e){
		var goos = $(this).attr("platform")
		var xpath = "input[name="+goos+"-arch]:checked";
		var arch = $(xpath).val();

		$.get('/repo/retrive', {
			reponame:"{{reponame}}", goos: goos, goarch: arch,
			tag: "{{active_tag}}",
		}, function(d){
			console.log("message", d.message);
			var well;
			if (d.status !== 0){
				well = "<span style='color:red'>"+goos+"-"+arch+"\n"+d.message+"</span>";
			} else {
				well = d.well;
			}
			well = well.replace(new RegExp('\n','g'), '<br>');
			$("#well").html(well);
			if (d.status === 0){
				saveas(d.ziplink);
			}
		});
		//a.close();
		//console.log(goos+arch);
});
</script>

<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gobuild'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

{% endblock %}
