{% extends "repo.html" %}
	{% block info %}
		<div class="container row">
			<a class="btn btn-info btn-xs" href="/task/list/{{job.build.id}}">&lt; back task list</a>
			<a class="btn btn-info btn-xs" href="/repo/{{repo.name}}">&lt; back download</a>
			<div>
				<table class="table">
					<tr>
						<th>Source URL:</th>
						<td>https://{{repo.name}}</td>
					</tr>
					<tr>
						<th>Tag:</th>
						<td>{{job.build.tag}}</td>
					</tr>
					<tr>
						<th>Status:</th>
						<td>{{job.status}}</td>
					</tr>
					<tr>
						<th>Created:</th>
						<td>{{job.created|strftime}}</td>
					</tr>
					<tr>
						<th>Updated:</th>
						<td>{{job.updated|strftime}}</td>
					</tr>
					<tr>
						<th>Gobuildrc:</th>
						<td><pre>{{job.gobuildrc}}</pre></td>
					</tr>
					<tr>
						<th style="width: 10%">Logs:</th>
						<td><pre>{{job.output|ansi2html}}</pre></td>
					</tr>
				</table>
			</div>
		</div>
	{% endblock %}
